* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas: "menu" "buscar" "main" "footer";
  grid-template-rows: 8% 12% auto 10%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

/*Nav-Menu*/

menu {
  grid-area: menu;
  background-color: #000000;
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
}

.logo {
padding-left: 2rem;
padding-top: 1rem;
}

menu > div > img {
  width: 1.5rem;
}

ul {
  display: none;
}

.hamburguesa {
  font-size: 25px;
  padding-right: 2rem;
  padding-top: 1rem;
}

/*Ordenar por*/
.buscar {
  grid-area: buscar;
  display: flex;
  flex-direction: column;
  background-color: #adaeb1;
  color: #000000;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 5px;
}

select {
  width: 80%;
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin: 0.5rem;
  font-size: 1.3rem;
}

/*Productos*/
main {
  grid-area: main;
  background-color: #ffffff;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card-movil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 0.25rem;
  min-height: 30%;
  align-items: center;
}

.card-grilla {
  display: none;
}

.producto {
  text-align: center;
  padding-top: 0;
  padding-bottom: 15px;
}

.foto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.producto > h3 {
  font-size: 1.6rem;
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 20px;
}

button {
  border-radius: 10px;
  width: 8rem;
  background-color: #000000;
  color: white;
  font-weight: 450;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 1rem;
  cursor: pointer;
}

/*paginación*/
.paginacion {
  margin-top: 1rem;
}

.paginacion a {
  padding: 0.5rem 1rem;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid rgb(209, 206, 206);
  border-radius: 10px;
  color: rgb(24, 24, 24);
  margin: 10px 5px;
}

.paginacion a.activo {
  background-color: rgb(131, 131, 131);
  color:  rgb(24, 24, 24);
}

/*Footer*/
footer {
  grid-area: footer;
  background-color:#000000;
  color: #ffffff;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rrss {
  font-size: x-large;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.rrss > i {
  font-size: 2rem;
}

.copyright {
  font-size: 1.2rem;
  justify-content: center;
}

.copyright > p {
  text-align: center;
}

/* Media querie */
@media (width >= 576px) {
body {
    grid-template-areas: "menu buscar" "menu main" "footer main";
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 10% 80% 10%;
  }

menu {
    justify-content: flex-start;
    flex-direction: column;
    padding: 1.5rem;
    height: calc(100vh - 10%);
  }

.logo {
    padding-top: 1rem;
    padding-left: 0rem;
  }

.buscar {
    background-color: #ffffff;
  }

select {
    width: 80%;
    border-style: solid;
    border-color: #c9c5ca;
    border-width: 2px;
    border-radius: 8px;
    padding: 12px;
    margin: 0.5rem;
  }

main {
    height: calc(100vh - 15%);
  }

.hamburguesa {
    display: none;
  }

menu > div > img {
    width: 3rem;
  }

ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 4rem;
    list-style: none;
    justify-content: center;
    align-items: center;
  }

ul > li {
    font-size: 20px;
    padding-bottom: 15px;
    cursor: pointer;
    color: #adaeb1;
  }

ul > li:hover {
    color: #ffffff;
    font-weight: 600;
  }

.cards-productos {
    overflow-y: scroll;
    flex-wrap: wrap;
  }

.card-movil {
    border: 1px solid rgb(209, 206, 206);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 25rem;
  }

.card-grilla {
    border: 1px solid rgb(209, 206, 206);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height:25rem;
  }

footer {
    font-size: 18px;
  }

.rrss {
    font-size: x-large;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

.rrss > i:hover {
    color: #ffffff;
    font-weight: 600;
  }

.copyright:hover {
    color: #ffffff;
    font-weight: 600;
  }
}

  @media (width >= 992px) {
    body {
        grid-template-areas: "menu buscar" "menu main" "footer main";
        grid-template-columns: 1.5fr 6fr;
        grid-template-rows: 10% 80% 10%;
      }

    menu {
        justify-content: flex-start;
        flex-direction: column;
        padding: 1.5rem;
        height: calc(100vh - 10%);
      }

    .logo {
        padding-top: 1rem;
        padding-left: 0rem;
      }

    .buscar {
        background-color: #ffffff;
      }

    select {
        width: 80%;
        border-style: solid;
        border-color: #c9c5ca;
        border-width: 2px;
        border-radius: 8px;
        padding: 12px;
        margin: 0.5rem;
      }

    main {
        height: calc(100vh - 15%);
      }

    .hamburguesa {
        display: none;
      }

    menu > div > img {
        width: 3rem;
      }

    ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-top: 4rem;
        list-style: none;
        justify-content: center;
        align-items: center;
      }

    ul > li {
        font-size: 20px;
        padding-bottom: 15px;
        cursor: pointer;
        color: #adaeb1;
      }

    ul > li:hover {
        color: #ffffff;
        font-weight: 600;
      }

    .cards-productos {
        overflow-y: scroll;
        flex-wrap: wrap;
      }

    .card-movil {
        border: 1px solid rgb(209, 206, 206);
        border-radius: 0.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 32%;
        height: 36.5rem;
      }

    .card-grilla {
        border: 1px solid rgb(209, 206, 206);
        border-radius: 0.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 32%;
        height:36.5rem;
      }

    footer {
        font-size: 18px;
      }

    .rrss {
        font-size: x-large;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
      }

    .rrss > i:hover {
        color: #ffffff;
        font-weight: 600;
      }
      .copyright {
      padding-left: 2px;
      padding-right: 2px;
      }

    .copyright:hover {
        color: #ffffff;
        font-weight: 600;
      }
}